.auth{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($primary-color, .8);
    animation: show .5s ease-in-out;
    backdrop-filter: blur(7px);
    z-index: 1000;
    .auth_container{
        padding: 10px;
        position: absolute;
        top: 0;
        right: 0;
        width: 350px;
        height: 100%;
        background-color: #fff;
        .close{
            display: flex;
            justify-content: center;
            .lines{
                position: relative;
                cursor: pointer;
                .line{
                    position: absolute;
                    width: 2px;
                    height: 20px;
                    background-color: #000;
                    &:first-child{
                        transform: rotate(45deg);
                    }
                    &:last-child{
                        transform: rotate(-45deg);
                    }
                }
            }
        }
        .selection{
            padding-top: 50px;
            display: flex;
            justify-content: space-around;
            text-transform: capitalize;
            .item{
                padding: 10px 20px;
                cursor: pointer;
                transition: .3s all ease ;
                border-bottom: 6px solid transparent;
                border-top-left-radius: 20px;
                border-bottom-right-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                &.active{
                    background-color: rgba($primary_light-color, .9);
                    color: $secondary_light-color;
                    // border-bottom-color: $primary-color;
                    font-weight: 600;
                }
            }
        }
        .content{
            padding: 20px;
            form{
                .field{
                    position: relative;
                    display: flex;
                    align-items: center;
                    padding: 10px;
                    margin-bottom: 10px;
                    border: 1px solid #eee;
                    transition: .3s all ease;
                    &:hover{
                        border-color: #999;
                    }
                    &:last-child{
                        border: none;
                        input{
                            padding: 10px 20px;
                            background-color: $primary-color;
                            color:$secondary_light-color;
                            border-radius: 20px;
                            text-transform: capitalize;
                            cursor: pointer;
                        }
                    }
                    svg{
                        margin-right: 10px;
                    }
                    input{
                        border: none;
                    }
                }
            }
        }
    }
}
@keyframes show {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}