.admin {
    width: 100vw;
    min-height: 100vh;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    position: absolute;
    top: 0;
    background-color: #f1f1f1;
    z-index: 10000;

    .dashboardHeading {
        width: 100%;
        text-align: center;
        font-size: 40px;
        font-weight: 400;
        padding: 20px 0;
        text-transform: capitalize;
    }

    p {
        margin: unset;
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        background-color: #fff;

        a {
            padding: 20px 0;

            &.logo {
                padding: 30px 20px;
                text-align: center;
                font-size: 35px;
                font-weight: 800;
                text-transform: capitalize;
                letter-spacing: 4px;
                font-family: Licorice;
            }

            .MuiTreeItem-root {
                .MuiCollapse-wrapper {
                    .MuiTreeItem-root {
                        margin: 25px 0;
                    }
                }
            }

            p,
            .MuiTreeItem-content {
                transition: .3s ease;
                padding: 10px 20px;
                transition: .3s ease;
                letter-spacing: 2.2px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                // box-shadow: 0 2px 5px 0px #c8c8c8;
                border-right: 2px solid transparent;

                .icon {}

                .text {
                    // padding: 0 10px;
                    font-size: 14px;
                }

                &.css-1g86id8-MuiTreeItem-content:hover {
                    background-color: transparent;
                }

                &:hover {
                    transform: translateY(-5px);
                    border-color: $primary-color;
                }

                &.active {
                    background: $secondary_light-color;
                    color: #111;
                }
            }

            .MuiTreeItem-label {
                width: unset;
            }

            svg {
                font-size: 20px;
            }
        }
    }

    .dashboardContainer {
        margin: 30px;
        padding: 30px;
        background-color: #fff;

        .amount {
            background-color: $primary_light-color;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            padding: 15px 0;

            p {
                margin-bottom: auto;
                text-align: center;
            }
        }

        .dashboardSummary {
            .dashboardSummaryBox2 {
                padding: 40px 0;
                display: flex;
                justify-content: space-around;
                align-items: center;

                a {
                    box-shadow: 0 0 10px #999;
                    width: 150px;
                    height: 150px;
                    text-align: center;
                    padding: 30px;
                    border-bottom-left-radius: 80px;
                    border-top-right-radius: 80px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    transition: .3s ease;

                    &:hover {
                        transform: translateY(-10px);
                        box-shadow: 0 0 10px #555;
                        border-bottom-right-radius: 80px;
                        border-top-left-radius: 80px;
                    }

                    p {
                        font-weight: 800;
                        letter-spacing: 1.2px;
                    }
                }
            }
        }

        .doughnutChart {
            width: 30vmax;
            margin: 30px auto;
        }

    }

    .productReviewsContainer {
        margin: 30px;
        padding: 30px;
        background-color: #fff;

        .productReviewsFormHeading {
            font-size: 30px;
            text-align: center;
            text-transform: capitalize;
        }

        .noRev {
            text-align: center;
            font-size: 20px;
        }

        .productDetails {
            padding: 20px 0;
            @include grid(200);
            align-items: center;

            .img {
                width: 150px;

                img {
                    width: 100%;
                }
            }
        }

        margin-bottom: 40px;
    }

    .productListContainer {
        margin: 30px;
        padding: 30px;
        background-color: #fff;

        .productListHeading {
            font-size: 30px;
            text-align: center;
            text-transform: capitalize;
        }

        .productListTable {
            margin: 10px 0;
        }
    }

    .newProductContainer {
        padding: 30px;
        background-color: #fff;
        width: 70%;
        min-height: 400px;
        margin: 50px auto;
        display: flex;
        justify-content: center;
        align-items: center;

        .createProductForm {
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .item {
                width: 100%;
                display: flex;
                align-items: center;
                margin: 20px 0;
                padding: 10px;
                border: 1px solid #f1f1f1;

                input,
                textarea,
                select {
                    width: 100%;
                    height: 40px;
                    padding: 10px;
                    border: 0;
                    outline: none;
                }

            }

            .form-btn {
                text-transform: capitalize;
                width: fit-content;
                margin: 0 auto;
                padding: 7px 20px;
                border: 2px solid $secondary-color;
                border-radius: 20px;
                background-color: transparent;
                font-weight: 500;
                transition: $speed_transition;
                color: #000;

                &:hover {
                    background-color: $secondary-color;
                    border-color: $secondary-color;
                }
            }
        }
    }
}