.footer{
    padding: $padding_branch_section 0 $padding_main_section;
    .container{
        @include flex(space-between,flex-start);
        // @include grid(100px);
        .footer_items{
            max-width: 300px;

            .h6{
                font-size: rem(20);
                padding: rem(20) 0;
                font-weight: 600;
                text-transform: capitalize;
            }
            ul{
                padding-left: 0;
                li{
                    padding: 10px 0;
                    
                }
                &.social{
                    @include flex(space-between);
                }
            }
            .img{
                width: 100%;
                img{
                    width: 100%;
                }
            }
        }
        @media (max-width: 768px) {
            flex-wrap: wrap;
            .footer_items{
                max-width: 300px;
                .item{

                }
            }
        }
    }
}