@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Edu+QLD+Beginner:wght@500;600;700&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300&family=Licorice&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

@import './Vars';

@function rem($value) {
    $remvalue: $value;
    $remValue: ($value / 16)+rem;
    @return $remValue;
}

@mixin flex($justify: center, $align: center, $gap: 10, $dir: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    gap: rem($gap);
    flex-direction: $dir;
}

@mixin grid($min, $gap: 10) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(rem($min), 1fr));
    gap: rem($gap);
}

@mixin grid-fr($fr) {
    display: grid;
    grid-template-columns: $fr;
}

@mixin marker($color: #000) {
    border: 1px solid $color ;
}

// seactions 

.PageTitle {
    position: relative;
    margin-bottom: 50px;
    font-size: rem(50);
    font-weight: 200;
    text-align: center;
    text-transform: capitalize;
    color: $primary-color;

    &::before {
        content: '';
        position: absolute;
        width: 50px;
        height: 3px;
        left: 50%;
        bottom: -5px;
        transform: translateX(-50%);
        background-color: $primary-color
    }
}