.orderDetailsPage{
    width: 100vw;
    max-width: 100%;
    box-sizing: border-box;
    background-color: rgba($box-color,.5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(5px);
    overflow: scroll;
    z-index: 20000;
    &::-webkit-scrollbar{
        height: 100%;
        width: 10px;
        background: $primary_light-color;
        border-radius: 40px;
        animation: .5s shown ease;
    }
    &::-webkit-scrollbar-thumb{
        background-color: $secondary_light-color;
        border-radius: 40px;
        transition: .3s;
        animation: .5s shown ease;
        &:hover{
            background-color: darken( $secondary-color, 10%);
        }
    }
    .order_id{
        position: relative;
        text-align: center;
        padding: 30px 0;
        &::before{
            content: '';
            position: absolute;
            width: 50px;
            height: 3px;
            bottom: 15px;
            left: 50%;
            transform: translateX(-50%);
            background-color: $primary-color;
            border-radius: 50%;
            box-shadow: 0 0px 7px #999;
        }
    }
    h3{
        padding: 20px 0;
    }
    .container{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
        align-items: center;
        gap:40px;
        padding-top: 30px;
        .left{
           
            .orderDetailsBoxes{
                height: 100%;
                .box{
                    background-color: #fff;
                    box-shadow: 0 0px 12px 0px #999;
                    margin-bottom: 20px;
                    padding:20px 30px;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                    backdrop-filter: blur(5px);
                    .h3{
                        color: $secondary-color;
                        font-size: 20px;
                    }
                    .details{
                        display: flex;
                        justify-content: space-between;
                        color: $dark-color;
                        p{
                            font-size: 12px;
                            color: $primary-color;
                            font-weight: 700;
                        }
                        span{
    
                        }
                    }
                }
            }
        }
        .right{
            display: flex;
            flex-direction: column;
            gap: 50px 0;
            .orderDetailsCartItems{
                background-color: rgba($primary-color,.8);
                max-height: 500px;
                padding: 20px 30px;
                box-shadow: 0 0px 10px $dark-color;
                .h3{
                    color:$secondary-color;
                }
                .orderDetailsCartItemsContainer{
                    display: grid;
                    grid-template-columns: 100%;
                    .item{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin: 20px 0;
                        padding:10px 30px;
                        color:#fff;
                        border: 1px solid #fff;
                        img{
                            width: 50px;
                        }
                        a{
                            color:#fff !important;
                        }
                        span{
                            b{
                                color: $secondary-color;
                            }
                        }
                    }
                }
            }
        }
    }
}