.swiper{
    position: relative;
    width: 100%;
    height: 40vh;
    max-height: 500px; // without it -> if you make zoom to less than 90% the height of swiper will be very high --> so we need to make max-height
    display: block;
    .swiper-container{
        width: 70%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        padding-bottom: 3vw;
        .animation{
            animation: .5s shown ease;
        }
        .swiper-wrapper{
            display: flex;
            align-items: center;
            gap: 0;
        }
    }
    .swiper-slide{
        background-position: center;
        background-size: cover;
        width: 300px;
        height: 100px;
        .swiper-slide-shadow{
            &-right{
                background-image: linear-gradient(to left,rgba(#fff,1),rgba(#fff,.7),rgba(#fff,0));
                backdrop-filter: blur(rem(2));

            }
            &-left{
                background-image: linear-gradient(to right,rgba(#fff,1),rgba(#fff,.7),rgba(#fff,0));
                backdrop-filter: blur(rem(2));

            }
        }
        img{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
            z-index: 2;
        }
    }
}

.customers_Say{
    .swiper{
        position: relative;
        height: 70vh;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100px;
            height: 100%;
            background-color: #000;
            z-index: 10;
            background: linear-gradient(to right, rgba(#fff,1) ,rgba(#fff,.3), rgba(#fff,0));
        }
        &::after{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 100px;
            height: 100%;
            background: linear-gradient(to left, rgba(#fff,1) , rgba(#fff,.3) , rgba(#fff,0));
            z-index: 10;

        }
        .swiper-container{
        }
        .swiper-button-prev, .swiper-button-next{
            position: absolute;
            border: 1px solid $primary_color;
            border-radius: 50%;
            &::after{
                color: $primary-color;
                font-size: 15px;
            }
        }
        .swiper-pagination {
            &-bullet{
                background-color: transparent;
                border:2px solid $primary-color;
                transform: $normal_transition;
                &-active{
                    background-color: $primary-color;
                }
            }
        }
        .swiper-button-prev{
            left: -10%;
        }
        .swiper-button-next{
            left: -10%;
        }
        .swiper-container{
            width: 100%;
            .swiper-wrapper{
                align-items: flex-start;
                
                .swiper-slide{
                    cursor: grab;
                }
            }
        }
    }
}